<div
  class="fixed z-50 inset-0 bg-grey-one bg-opacity-60 overflow-y-auto h-full w-full px-4"
>
  <div
    class="relative top-40 mx-auto shadow-xl rounded-md bg-white max-w-md p-4"
  >
    <div *ngIf="!response" class="p-6 pt-0 text-center">
      <h3 class="text-lg font-medium text-grey-two mt-5 mb-6">
        To ensure you're among the first to know when our application goes live,
        please take a moment to fill out the form below:
      </h3>
      <form
        #myForm="ngForm"
        (ngSubmit)="onSubmit(myForm)"
        class="w-4/5 mx-auto"
      >
        <div>
          <label class="block text-start text-grey-two font-medium" for="name"
            >Name:</label
          >
          <input
            class="outline-fine-green h-12 w-full rounded-md text-base font-semibold text-grey-two border border-fine-green"
            type="text"
            id="name"
            name="name"
            [(ngModel)]="name"
            required
          />
          <div
            *ngIf="submitted && myForm.controls['name'].invalid"
            class="text-start text-sm text-[rgba(255,0,0,0.82)] font-medium"
          >
            Name is required.
          </div>
        </div>
        <div>
          <label class="block text-start text-grey-two font-medium" for="email"
            >Email:</label
          >
          <input
            class="outline-fine-green h-12 w-full rounded-md text-base font-semibold text-grey-two border border-fine-green"
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
            email
          />
          <div
            *ngIf="submitted && myForm.controls['email'].invalid"
            class="text-start text-sm text-[rgba(255,0,0,0.82)] font-medium"
          >
            Email is required and must be valid (e.g., example@example.com).
          </div>
        </div>
        <div class="flex justify-around gap-2 my-4">
          <button
            class="bg-fine-green flex items-center gap-2 w-2/5 rounded-2xl font-medium p-3 text-white"
            type="submit"
          >
            Submit
            <img src="/assets/icons/send.svg" alt="" width="18" height="16" />
          </button>
          <button
            class="border border-[rgba(255,0,0,0.82)] w-2/5 rounded-2xl font-medium p-3 text-[red]"
            type="button"
            (click)="handleClose()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="response" class="flex flex-col items-center p-6">
      <img class="" src="/assets/icons/tick.svg" alt="" />
      <p class="text-base font-medium text-grey-two">
        Thank you for your interest in our application! We'll keep you informed
        about any updates and let you know as soon as it's available for you to
        explore.
      </p>
      <button
        class="border border-fine-green w-2/5 rounded-xl font-medium p-3 mt-4 text-main-dark-green"
        type="button"
        (click)="handleClose()"
      >
        Close
      </button>
    </div>
  </div>
</div>
