<div
  *ngIf="value === 'Farmers'"
  class="flex flex-col md:flex-row items-center justify-between my-8 py-8"
>
  <div class="hidden md:block w-2/5">
    <img src="/assets/images/imgOne.webp" width="100%" height="auto" alt="" />
  </div>
  <div class="w-full px-4 md:px-0 md:w-1/2">
    <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">Farmers</h4>
    <p class="text-lg font-medium text-grey-two mb-3">
      You are the heart of agriculture, and Eilera is your data-driven partner.
      Our system provides real-time insights into your soil, weather, and crops,
      empowering you to:
    </p>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Optimize Yields:</span> Make data-driven decisions
      to maximize your harvest potential with personalized recommendations.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold"> Reduce Costs:</span> Manage resources efficiently
      with smart irrigation, fertilization, and pest control strategies.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Simplify Management:</span> Gain a holistic view
      of your farm's performance from a single platform.
    </li>
  </div>
</div>

<div
  *ngIf="value === 'Research Institutions'"
  class="flex flex-col md:flex-row items-center justify-between my-8 py-8"
>
  <div class="hidden md:block w-2/5">
    <img src="/assets/images/imgOne.webp" width="100%" height="auto" alt="" />
  </div>
  <div class="w-full px-4 md:px-0 md:w-1/2">
    <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">
      Research Institutions<ng-template #otherDiv></ng-template>
    </h4>
    <p class="text-lg font-medium text-grey-two mb-3">
      You are the future of agriculture, and Eilera fuels your research.
      Eilera's vast data collection allows you to:
    </p>

    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Conduct in-depth research:</span> Analyze
      real-world data to develop innovative agricultural technologies and
      practices.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold"> Experiment with new solutions:</span> Test and
      refine new approaches to improve crop yields and sustainability.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Make a global impact:</span> Contribute to
      advancements in agriculture that benefit farmers worldwide.
    </li>
  </div>
</div>

<!--  -->
<div
  *ngIf="value === 'Consultants'"
  class="flex flex-col md:flex-row items-center justify-between my-8 py-8"
>
  <div class="hidden md:block w-2/5">
    <img src="/assets/images/imgOne.webp" width="100%" height="auto" alt="" />
  </div>
  <div class="w-full px-4 md:px-0 md:w-1/2">
    <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">
      Agricultural Consultants
    </h4>
    <p class="text-lg font-medium text-grey-two">
      You are the expert guide, and Eilera gives you the data edge. Leverage
      Eilera's comprehensive data analysis to:
    </p>

    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Provide data-driven recommendations:</span> Offer
      personalized advice tailored to each farmer's unique situation.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold"> Optimize crop production:</span> Help farmers
      achieve the best possible yields.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Address specific challenges:</span> Identify and
      solve problems farmers face in real-time.
    </li>
  </div>
</div>

<!--  -->
<div
  *ngIf="value === 'Agribusiness'"
  class="flex flex-col md:flex-row items-center justify-between my-8 py-8"
>
  <div class="hidden md:block w-2/5">
    <img src="/assets/images/imgOne.webp" width="100%" height="auto" alt="" />
  </div>
  <div class="w-full px-4 md:px-0 md:w-1/2">
    <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">
      Agribusiness
    </h4>
    <p class="text-lg font-medium text-grey-two mb-3">
      You are the industry innovator, and Eilera unlocks market insights.
      Utilize Eilera's data to:
    </p>

    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Understand market trends:</span> Identify
      opportunities and optimize product offerings based on real-world data.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold"> Provide value-added services:</span> Offer
      farmers targeted solutions and resources based on their specific needs.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Strengthen farmer relationships: </span> Build
      trust and loyalty by demonstrating a data-driven approach to supporting
      their success.
    </li>
  </div>
</div>

<!--  -->
<div
  *ngIf="value === 'Government Agencies'"
  class="flex flex-col md:flex-row items-center justify-between my-8 py-8"
>
  <div class="hidden md:block w-2/5">
    <img src="/assets/images/imgOne.webp" width="100%" height="auto" alt="" />
  </div>
  <div class="w-full px-4 md:px-0 md:w-1/2">
    <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">
      Government Agencies
    </h4>
    <p class="text-lg font-medium text-grey-two mb-3">
      You are the champion of food security, and Eilera equips you with
      knowledge. Utilize Eilera's data to:
    </p>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Assess crop conditions:</span> Gain real-time
      insights into national and regional crop health.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold"> Monitor yields:</span> Proactively track
      production levels and identify potential food security risks.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Develop effective policies:</span> Implement
      data-driven programs that support farmers and ensure food security for
      all.
    </li>
  </div>
</div>

<!--  -->
<div
  *ngIf="value === 'Financial Institutions'"
  class="flex flex-col md:flex-row items-center justify-between my-8 py-8"
>
  <div class="hidden md:block w-2/5">
    <img src="/assets/images/imgOne.webp" width="100%" height="auto" alt="" />
  </div>
  <div class="w-full px-4 md:px-0 md:w-1/2">
    <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">
      Financial Institutions
    </h4>
    <p class="text-lg font-medium text-grey-two mb-3">
      You empower farmers, and Eilera helps you make informed decisions.
      Eilera's data allows you to:
    </p>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Evaluate creditworthiness:</span> Assess the risk
      profile of potential borrowers based on farm data and predicted yields.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold"> Mitigate lending risks:</span> Make informed
      lending decisions with confidence.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Support agricultural growth:</span> Invest in the
      future of agriculture by providing financial resources to farmers with a
      high chance of success.
    </li>
  </div>
</div>

<!--  -->
<div
  *ngIf="value === 'Insurance Companies'"
  class="flex flex-col md:flex-row items-center justify-between my-8 py-8"
>
  <div class="hidden md:block w-2/5">
    <img src="/assets/images/imgOne.webp" width="100%" height="auto" alt="" />
  </div>
  <div class="w-full px-4 md:px-0 md:w-1/2">
    <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">
      Insurance Companies
    </h4>
    <p class="text-lg font-medium text-grey-two mb-3">
      You manage risk, and Eilera provides valuable insights. Eilera's data
      helps you to:
    </p>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Assess crop risk:</span> Accurately assess risks
      associated with weather patterns, pests, and diseases.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold"> Calculate premiums:</span> Set fair and accurate
      insurance rates based on real-time data.
    </li>
    <li class="font-normal text-xl text-grey-two leading-10">
      <span class="font-bold">Process claims efficiently:</span>  Utilize
      objective data to validate claims and expedite payouts.
    </li>
  </div>
</div>
