<div class="bg-[#1CB3740D] relative py-10">
  <div
    class="my-10 container mx-auto flex flex-col md:flex-row items-center justify-between py-2"
  >
    <div class="hidden md:block w-2/5">
      <img src="/assets/images/homeImg.webp" width="" height="" alt="" />
    </div>
    <div class="w-full px-4 md:px-0 md:w-1/2">
      <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">
        Here's what Eilera offers
      </h4>

      <li class="font-normal text-xl text-grey-two leading-10">
        <span class="font-bold">Intelligent Farm Analysis: </span>Analyze your
        farm's unique needs based on soil data, weather patterns, and planting
        choices.
      </li>
      <li class="font-normal text-xl text-grey-two leading-10">
        <span class="font-bold"> Actionable Recommendations: </span>Get tailored
        advice on fertilizer application, irrigation scheduling, and pest
        control.
      </li>
      <li class="font-normal text-xl text-grey-two leading-10">
        <span class="font-bold"> Data-Driven Predictions: </span>Gain insights
        into potential crop yields and make informed decisions throughout the
        growing season.
      </li>
      <li class="font-normal text-xl text-grey-two leading-10">
        <span class="font-bold"> Comprehensive Reports: </span>Receive detailed
        summaries of your farm's analysis for easy reference and future
        planning.
      </li>
      <li class="font-normal text-xl text-grey-two leading-10">
        <span class="font-bold"> Personalized Support: </span>Access a wealth of
        educational resources and connect with agricultural experts for further
        guidance.
      </li>
    </div>
  </div>
  <div class="absolute right-0 -bottom-20 lg:-bottom-36 w-36 lg:w-60">
    <img
      src="/assets/images/photoroom.webp"
      class="ml-auto"
      width="80%"
      height="auto"
      alt=""
    />
  </div>
</div>

<div class="container mx-auto my-16 py-10">
  <div class="image-container">
    <div class="gradient-overlay">
      <div
        class="flex flex-col md:flex-row justify-center md:justify-between items-center h-full py-8 px-8 md:px-12"
      >
        <div class="w-full ml-0 text-center md:text-left md:w-2/5 md:ml-6">
          <h3 class="text-4xl font-bold my-4 leading-[55px] text-white">
            Ready to unlock the full potential of your farm?
          </h3>
          <p class="text-xl text-white my-6 leading-6 font-normal">
            Download Eilera today and experience the future of agriculture!
          </p>

          <button (click)="handleOpenModal()"
            class="bg-white mx-auto md:mx-0 flex gap-2 justify-center rounded-4xl font-medium p-3 text-fine-green w-40"
          >
            Download
            <img
              src="/assets/icons/download-green.svg"
              width="20px"
              height="18px"
              alt=""
            />
          </button>
        </div>
        <div class="hidden md:block w-1/2 mr-6">
          <img
            src="/assets/images/contentImg.webp"
            alt=""
            class="ml-auto"
            width="85%"
          />
        </div>
      </div>
    </div>
  </div>
</div>
