<div class="container mx-auto mt-10 py-20">
  <div class="image-container">
    <div class="gradient-overlay">
      <div class="flex justify-between items-center h-full">
        <div class="w-2/5 ml-12">
          <h3 class="text-4xl font-bold my-4 leading-[55px] text-white">Data-Driven Decisions, Optimized Yields.</h3>
          <p class="text-base text-white my-6 leading-6 font-medium">
            Eilera is your all-in-one agronomic app, designed to empower farmers with data-driven insights and personalized recommendations for optimized yields.
          </p>
          
            <button class="bg-white flex gap-2 justify-center rounded-4xl font-medium p-3 text-fine-green w-40">
              Download
              <img
                src="/assets/icons/download.svg"
                width="20px"
                height="18px"
                alt=""
              />
            </button>
          
        </div>
        <div class="w-1/2 mr-12">
          <img
            src="/assets/images/bg-content.webp"
            alt=""
            class="ml-auto"
            width="75%"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <h3 class="text-4xl font-bold my-4 leading-[55px] text-grey">All-in-one farm management app</h3>
    <p class="text-base text-white my-6 leading-6 font-medium">Eilera is the all-in-one agronomic app designed to empower every player in the agricultural value chain. Here's how Eilera can revolutionize your approach</p>
  </div>

</div>