<div class="container mx-auto py-10">
  <div class="image-container">
    <div class="gradient-overlay">
      <div
        class="flex flex-col md:flex-row justify-between items-center h-full"
      >
        <div class="w-full md:w-2/5 ml-12">
          <h3 class="text-4xl font-bold my-4 leading-[55px] text-white">
            Data-Driven Decisions, Optimized Yields.
          </h3>
          <p
            class="text-xl text-white my-6 leading-6 font-medium w-full md:w-4/5 "
          >
            Eilera is your all-in-one agronomic app, designed to empower farmers
            with data-driven insights and personalized recommendations for
            optimized yields.
          </p>

          <button
            class="bg-white flex gap-2 justify-center rounded-4xl font-medium p-3 text-fine-green w-40"
          >
            Download
            <img
              src="/assets/icons/download-green.svg"
              width="20px"
              height="18px"
              alt=""
            />
          </button>
        </div>
        <div class="hidden md:block md:w-1/2 mr-12">
          <img
            src="/assets/images/bg-content.webp"
            alt=""
            class="ml-auto"
            width="75%"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative">
  <div
    class="bg-[url(/assets/images/calathea.webp)] absolute right-0 h-48 w-60 -top-20"
  ></div>

  <div class="my-20 container mx-auto">
    <div class="w-4/5 mx-auto">
      <h3
        class="text-center text-4xl font-bold my-4 leading-[55px] text-grey-one"
      >
        All-in-one farm management app
      </h3>
      <p class="text-center text-xl text-grey-two my-6 leading-6 font-normal">
        Eilera is the all-in-one agronomic app designed to empower every player
        in the agricultural value chain. Here's how Eilera can revolutionize
        your approach
      </p>
    </div>
    <div
      class="flex flex-col md:flex-row items-center justify-between my-8 py-8"
    >
      <div class="w-2/5">
        <img
          src="/assets/images/imgOne.webp"
          width="100%"
          height="auto"
          alt=""
        />
      </div>
      <div class="w-1/2">
        <h4 class="text-3xl font-bold text-grey-one my-2 leading-9">Farmers</h4>

        <li class="font-normal text-xl text-grey-two leading-10">
          <span class="font-bold">Optimize Yields:</span> Make data-driven
          decisions to maximize your harvest potential with personalized
          recommendations.
        </li>
        <li class="font-normal text-xl text-grey-two leading-10">
          <span class="font-bold"> Reduce Costs:</span> Manage resources
          efficiently with smart irrigation, fertilization, and pest control
          strategies.
        </li>
        <li class="font-normal text-xl text-grey-two leading-10">
          <span class="font-bold">Simplify Management:</span> Gain a holistic
          view of your farm's performance from a single platform.
        </li>
      </div>
    </div>
  </div>
</div>
