<div class="container mx-auto py-10 lg:py-10">
  <div class="image-container">
    <div class="gradient-overlay">
      <div
        class="flex flex-col lg:flex-row justify-center lg:justify-between items-center h-full p-4 lg:p-0"
      >
        <div class="w-full text-center lg:text-left lg:w-2/5 ml-0 lg:ml-12">
          <h3
            class="text-4xl font-bold my-4 leading-[48px] lg:leading-[55px] text-white"
          >
            Data-Driven Decisions, Optimized Yields.
          </h3>
          <p
            class="text-xl text-white my-6 leading-6 font-medium w-full lg:w-4/5"
          >
            Eilera is your all-in-one agronomic app, designed to empower farmers
            with data-driven insights and personalized recommendations for
            optimized yields.
          </p>

          <button
            (click)="handleOpenModal()"
            class="bg-white mx-auto lg:mx-0 flex gap-2 justify-center rounded-4xl font-medium p-2 lg:p-3 text-fine-green w-40"
          >
            Download
            <img
              src="/assets/icons/download-green.svg"
              width="20px"
              height="18px"
              alt=""
            />
          </button>
        </div>
        <div class="hidden lg:block lg:w-1/2 mr-12">
          <img
            src="/assets/images/bg-content.webp"
            alt=""
            class="ml-auto"
            width="75%"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative">
  <div class="absolute right-0 -top-16 w-24 md:w-40 lg:w-60">
    <img
      src="/assets/images/calathea.webp"
      class="ml-auto"
      width="90%"
      height="auto"
      alt=""
    />
  </div>

  <div class="my-20 container mx-auto">
    <div class="w-full lg:w-4/5 mx-auto">
      <h3
        class="text-center text-4xl font-bold my-4 leading-[55px] text-grey-one"
      >
        All-in-one farm management app
      </h3>
      <p class="text-center text-xl text-grey-two my-6 leading-6 font-normal">
        Eilera is the all-in-one agronomic app designed to empower every player
        in the agricultural value chain. Here's how Eilera can revolutionize
        your approach
      </p>
    </div>
    <div class="flex flex-wrap justify-center">
      <button
        *ngFor="let content of contents"
        [ngClass]="{ 'active-state': view === content.text }"
        (click)="changeView(content.text)"
        class="border border-[#CAEED4] py-2 px-4 rounded-3xl m-1 lg:m-2 text-[#333333] font-normal text-sm"
      >
        {{ content.text }}
      </button>
    </div>
    <app-eilera-content [value]="view"></app-eilera-content>
  </div>
</div>
